*{
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(189, 183, 183);
}

#Container{
  width: 80%;
  margin: 0px auto;
  box-shadow: 0px 0px 10px rgb(140, 0, 255);
  /*border: 1px solid rgb(59, 214, 59); */
  background-color: rgba(6, 10, 230, 0.829);
}

#header{
    height: 145px;
    background-color: rgb(241, 235, 235);
}

#logo{
  padding: 20px;
  margin-left: 20px;
  float: left; ;
}

#logo img {
    float: left;
    height: 100px;
}

#logo a{
    float: left; 
    font-size: 40px;
    letter-spacing:4px;
    text-transform: uppercase;
    color: blueviolet;
    font-weight: bold;
    text-decoration: none;
margin-top: 18px;
margin-left: 25px;
text-shadow: 0px 2px 1px rgb(0, 0, 0);
transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px rgb(0, 89, 255), 0px 0px 4px rgb(8, 118, 243);
}