*{
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(255, 255, 255);
}

#Container{
  width: 80%;
  margin: 0px auto;
  box-shadow: 0px 0px 10px rgb(255, 145, 0);
  /*border: 1px solid rgb(59, 214, 59); */
  background-color: rgb(230, 159, 6);
}

#header{
    height: 145px;
    background-color: rgb(255, 166, 0);
}

#logo{
  padding: 20px;
  margin-left: 20px;
  float: left; ;
}

#logo img {
    float: left;
    height: 100px;
}

#logo a{
    float: left; 
    font-size: 40px;
    letter-spacing:4px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
margin-top: 18px;
margin-left: 25px;
text-shadow: 0px 2px 1px rgb(255, 0, 0);
transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px rgb(255, 17, 0), 0px 0px 4px rgb(8, 118, 243);
}

 /* menu */
 #menu{
     clear:both;
     background: rgb(252, 180, 27);
     color: white;
     height: 100px;
     border-bottom: 4px solid #ffffff;
 } 
 
 #menu ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
 }

#menu ul li {
   line-height: 55px;
   float: left;
   border-left: 1px solid rgb(0, 0, 0);

}

#menu a {
   display: block;
   color: #000000;
   text-decoration: none;
   padding-left: 10px;
   padding-right: 10px;
   transition: 300ms;
}

#menu a:first-child{
  border-left: 1px solid black;
}

#menu a:hover{
  background: #ea0101;
}

#content{
   margin: 0px auto;
   overflow: hidden;
   background: white
   border: 4px solid;
}

#lateral{
  width: 20%;
  min-height: 500px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  border: 4px rgb(0, 0, 0) solid;
}

#lateral .block_aside{
   display: block;
   width: 90%;
   margin: 5px;
   padding: 10px;
   border: 2px solid rgba(0, 0, 0, 0.897);
}